<%= link_to "BATTLE!", battle_path(@battle), method: :put, remote: true %>


<%= link_to '<button type="button">paper</button>'.html_safe, wizard_path(@wizard), method: :put, remote: true %>


<%= content_tag :div, id: "battle" do -%>
<%= render :partial => 'battle', :object => @wizards %>
<% end %>

