// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	height: 100%;
	margin: 0;
	margin-top: -8px;
}

.user_new_bg_img {
	background-image: url(http://img05.deviantart.net/f20c/i/2013/112/9/8/undead_warlock_by_koz23-d62n65z.jpg);
	background-size: cover;
	overflow: scroll;
	z-index: 0;
	height: 100%;
	text-align: center;
}

.user_new_bg_img .user_new_title_rps	 {
	color: white;
	font-family: 'Bangers', cursive;
	font-size: 8vw;
	text-shadow: 2px 2px black;
	padding: 0;
	margin: 0;
}

.user_new_bg_img .user_new_title_wizard {
	color: white;
	font-family: 'Bangers', cursive;
	font-size: 12vw;
	text-shadow: 2px 2px black;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.sign_up_box {
	width: 12vw;
	margin: 0 auto;
	text-align: center;
}

.user_new_box_title {
	font-family: 'Bangers', cusrive;
	font-size: 4vw;
}

.sign_up_form_top {
	border: 1px solid #DADADA;
	background-color: rgba(255,255,255,0.3);
	height: 3vw;
	width: 15.5vw;
	margin-left: -15%;
	text-align: center;
	font-size: 25px;
	font-family: 'Bubblegum Sans', cursive;
}

.sign_up_form_bottom {
	border: 1px solid #DADADA;
	background-color: rgba(255,255,255,0.3);
	margin-left: -15%;
	height: 3vw;
	width: 15.5vw;
	text-align: center;
	font-size: 25px;
	font-family: 'Bubblegum Sans', cursive;
}

.scroll_box h2 {
	margin-bottom: 10px;
}

.sign_up_create_button {
	border: none;
	background-color: white;
	font-size: 18px;
	margin-top: 3px;
	font-family: 'Bubblegum Sans', cursive;
}

.scroll_box {
	width: 25vw;
	height: 25vw;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url(http://vignette3.wikia.nocookie.net/tesfanon/images/2/2e/Scroll_opened.png/revision/latest?cb=20120116144947);
	background-size: cover;
	overflow: none;
	z-index: 50;
	text-align: center;
}

.scroll_box p {
  font-family: 'Bubblegum Sans', cursive;
}

.scroll_box a {
	text-decoration: none;
	color: #D52B1B;
}

.sign_in_top {
	border: 1px solid #DADADA;
	background-color: rgba(255,255,255,0.3);
	height: 3vw;
	width: 15.5vw;
	margin-left: -25%;
	text-align: center;
	font-size: 25px;
	font-family: 'Bubblegum Sans', cursive;
}

.sign_in_bottom {
	border: 1px solid #DADADA;
	background-color: rgba(255,255,255,0.3);
	margin-left: -25%;
	height: 3vw;
	width: 15.5vw;
	text-align: center;
	font-size: 25px;
	font-family: 'Bubblegum Sans', cursive;
}

.sign_in_box {
	width: 10vw;
	margin: 0 auto;
	text-align: center;
	display: none;
}

.sign_in_button {
	border: none;
	background-color: white;
	font-size: 18px;
	margin-top: 3px;
	font-family: 'Bubblegum Sans', cursive;	
}