// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	height: 100%;
	margin: 0;
	width: 100%;
}

.user_new_bg_img {
	background-image: url(landing.jpg);
	background-size: cover;
	overflow: scroll;
	z-index: 0;
	height: 100%;
	text-align: center;
}

.user_new_bg_img .user_new_title_rps	 {
	color: white;
	font-family: 'Bangers', cursive;
	font-size: 8vw;
	text-shadow: 2px 2px black;
	padding: 0;
	margin: 0;
}

.user_new_bg_img .user_new_title_wizard {
	color: white;
	font-family: 'Bangers', cursive;
	font-size: 12vw;
	text-shadow: 2px 2px black;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.sign_up_box {
	width: 12vw;
	margin: 0 auto;
	text-align: center;
	height: 21.5vw;
	overflow: none;
}

.user_new_box_title {
	font-family: 'Bangers', cusrive;
	font-size: 4vw;
}

.sign_up_form_top {
	border: none;
	border-bottom: 2px solid #DADADA;
	background-color: rgba(255,255,255,0.0);
	height: 3vw;
	width: 15.5vw;
	margin-left: -15%;
	text-align: center;
	font-size: 2.5vw;
	font-family: 'Bubblegum Sans', cursive;
}

::-webkit-input-placeholder {
    color: white;
}

.sign_up_form_bottom {
	border: none;
	border-bottom: 2px solid #DADADA;
	background-color: rgba(255,255,255,0.0);
	margin-left: -15%;
	height: 3vw;
	width: 15.5vw;
	text-align: center;
	font-size: 2.5vw;
	font-family: 'Bubblegum Sans', cursive;
}

.scroll_box h2 {
	margin-bottom: 10px;
}

.sign_up_create_button {
	border: none;
	background-color: white;
	font-size: 1.6vw;
	margin-top: 6px;
	font-family: 'Bubblegum Sans', cursive;
	border-radius: 5px;
}

.scroll_box {
	width: 25vw;
	height: 25vw;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url(scroll.png);
	background-size: cover;
	overflow: none;
	z-index: 50;
	text-align: center;
}

.scroll_box p {
  font-family: 'Bubblegum Sans', cursive;
}

.scroll_box a {
	text-decoration: none;
	color: #D52B1B;
}

.sign_in_top {
	border: none;
	border-bottom: 2px solid #DADADA;
	background-color: rgba(255,255,255,0.0);
	height: 3vw;
	width: 15.5vw;
	margin-left: -25%;
	text-align: center;
	font-size: 2.5vw;
	font-family: 'Bubblegum Sans', cursive;
}

.sign_in_bottom {
	border: none;
	border-bottom: 2px solid #DADADA;
	background-color: rgba(255,255,255,0.0);
	margin-left: -25%;
	height: 3vw;
	width: 15.5vw;
	text-align: center;
	font-size: 2.5vw;
	font-family: 'Bubblegum Sans', cursive;
}
input:focus {
    outline: none;
}

.sign_in_box {
	width: 10vw;
	height: 10vw;
	margin: 0 auto;
	text-align: center;
	display: none;
}

.sign_in_button {
	border: none;
	background-color: white;
	font-size: 1.8vw;
	margin-top: 6px;
	font-family: 'Bubblegum Sans', cursive;	
	border-radius: 5px;
}

.users_show_bg_img {
	background-image: url(greenorblib.jpg);
	background-size: cover;
	overflow: hidden;
	height: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(50, 52, 15, 0.0);
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3vh;
		font-family: 'Bubblegum Sans', cursive;
		text-shadow: 2px 2px black;
}

.nav li a:hover {
    background-color: #FBFFA9;
    color: black;
    text-shadow: none;
}

.sign_out_button {
	background-color: #240134;
}

.users_show_book_bg {
	background-image: url(book.png);
	background-size: cover;
	overflow: visibile;
	height: 47.5vw;
	width: 75vw;
	margin: 0 auto;
}

.users_show_book_left {
	margin-top: 3%;
	padding-left: 10%;
	display: inline-block;
	width: 29.5vw;
	height: 42vw;
	overflow: scroll;
	font-family: 'Courgette', cursive;
}

.users_show_book_right {
	position: absolute;
	margin-top: 2%;
	display: inline-block;
	width: 31vw;
	height: 42vw;
	overflow: scroll;	
	margin-left: 3%;
	font-family: 'Courgette', cursive;
}

.delete_account {
	position: absolute;
	bottom: 5px;
	left: 5px;
	background-color: red;
	border: 3px solid red;
	border-radius: 5px;
	font-family: 'Courgette', cursive;
}

.delete_account:hover {
	background-color: orange;
	border: 3px solid orange;
}

.delete_account a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.delete_account a:hover {
	text-decoration: underline;
}

.users_show_email {
	float: left;
	font-size: 1.1vw;
	width: 180px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	margin-top: 1.3vw;
}

.users_show_new_wizard {
	float: right;
	font-size: 3vw;
	background-color: #240134;
	padding: 2px;
	border-radius: 5px;
	font-family: 'Bubblegum Sans', cursive;
}

.users_show_new_wizard a {
	text-decoration: none;
	color: white;
	padding: 0, 10px, 10px, 0;
}

.users_show_new_wizard a:hover {
	text-decoration: underline;
}

.users_show_wizards_table {
	padding-top: 14%;
}

.users_show_wizards_table a {
	text-decoration: none;
	color: red;
}

.wizard_name a {
	color: #240134;
}

.wizard_name a:hover {
	text-decoration: underline;
	color: red;
}

.users_show_wizards_table th {
	display: inline-block;
	padding-bottom: 3%;
}

.users_show_book_right h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.4vw;
	display: inline-block;
}

.users_show_book_right_title {
	text-align: center;
	border-bottom: 1px solid black;
}

.users_show_book_right p {
	margin-bottom: 3%;
	margin-top: 0;
	font-size: 1vw;
}

.users_show_book_right_title p {
	font-size: 35px;
}

.small_wiz_icon_dark {
	background-image: url("8bitdark.png");
	width: 2vw;
	height: 2vw;
	background-size: cover;
	display: inline-block;
}

.small_wiz_icon_dark_big {
	background-image: url("8bitdark.png");
	width: 4vw;
	height: 4vw;
	background-size: cover;
	display: inline-block;
}

.small_wiz_icon_light_big {
	background-image: url("8bitlight.png");
	width: 4vw;
	height: 4vw;
	background-size: cover;
	display: inline-block;
}

.small_wiz_icon_light {
	width: 2vw;
	height: 2vw;
	background-size: cover;
	display: inline-block;
	background-image: url("8bitlight.png");
}

.owners_wizard_email a {
	text-decoration: none;
	color: #240134;
}

.owners_wizard_email a:hover {
	text-decoration: underline;
	color: red;
}













